/* AnimatedCursor.css */
* {
    cursor: none !important;
}

*:hover {
    cursor: none !important;
}

.cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.cursor-circle {
    position: absolute;
    width: 20px;
    /* Adjust the size of the circle */
    height: 20px;
    background-color: rgba(0, 150, 255, 0.8);
    /* Light blue */
    border-radius: 50%;
    pointer-events: none;
    will-change: transform, opacity;
    transition:
        transform 0.1s,
        opacity 0.1s;
}