.footer {
  background-color: #2c2c2c;
  color: white;
  padding: 40px 0; /* Increased padding for better spacing */
  text-align: justify;
  font-family: Arial, sans-serif;
}

.footer-sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px; /* Increased margin for better separation */
}

.footer-column {
  flex: 1;
  min-width: 200px; /* Ensures columns don't get too small */
  margin: 15px;
}

.footer-column h3 {
  font-weight: bold;
  font-size: 18px; /* Adjusted font size */
  margin-bottom: 20px; /* Increased space below heading */
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 12px; /* Slightly increased space between list items */
  font-size: 16px; /* Increased font size */
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.follow-us .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Added space above social icons */
}

.social-icons li {
  margin: 0 15px; /* Increased spacing between social icons */
}

.social-icons img {
  width: 30px; /* Increased icon size */
  height: 30px;
  margin: 0;
}

.social-icons a {
  display: inline-block;
  width: 50px; /* Size of the circle */
  height: 50px;
  border-radius: 50%; /* Makes the icon circular */
  background-color: white; /* Background color for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.8;
}

.disclaimer {
  margin: 0 100px 40px 100px; /* Center disclaimer with more spacing */
  font-size: 14px; /* Adjusted for readability */
  line-height: 1.5;
  text-align: center;
}

.disclaimer p {
  margin: 10px 0; /* Increased margin between paragraphs */
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px; /* Increased padding */
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
  .disclaimer {
    margin: 40px; /* Center disclaimer with more spacing */
    font-size: 14px; /* Adjusted for readability */
    line-height: 1.5;
    text-align: justify;
  }
  .social-icons {
    justify-content: center;
    margin-bottom: 20px;
  }
}
