.auth-container {
  background: rgba(247, 179, 179, 0.227);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  padding: 10px;
  margin: 4px;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  will-change: transform, opacity;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 0.5s forwards ease-in-out;
}

.auth-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.auth-container::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    #111827,
    rgba(255, 255, 255, 0)
  );
  transform: rotate(0deg);
  animation: shine 5s infinite;
  pointer-events: none;
}

@keyframes shine {
  0% {
    transform: rotate(0deg) translateX(-100%);
  }

  100% {
    transform: rotate(0deg) translateX(100%);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.auth-maindiv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  min-height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-section input {
  box-sizing: border-box;
}

.register-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.auth-button {
  background-color: #007bff;
  color: #fff;
}

.toggle-auth-button {
  background-color: rgba(247, 179, 179, 0);
  color: rgb(61, 59, 59);
  padding-top: 0px;
}

.toggle-auth-button:hover {
  background-color: rgba(247, 179, 179, 0);
}

@media (max-width: 480px) {
  .auth-container {
    width: 15rem;
  }
}

.login_background {
  background: radial-gradient(circle, black, rgb(0, 0, 137));
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* Leave space for the icon */
}

.password-toggle {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: gray;
}

.password-toggle:hover {
  background-color: white; /* Change background color on hover */
}
