
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-image {
  max-height: 150px;
  max-width: 200px;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 4rem;
  margin-right: 0;
  flex-grow: 1;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; 
  transition: color 0.3s ease;
  padding: 10px 15px; 
}

.navbar-links a:hover {
  color: whitesmoke; /* Subtle blue accent */
}

.navl
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in;
}

.tab:hover {
  text-decoration: underline;
}

.navbar-menu-icon {
  display: none; /* Hidden on desktop */
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-menu-icon {
    display: block; 
  }

  .navbar-links {
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    background-color: #333; 
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 1000;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    margin: 15px 0;
    font-size: 18px;
  }
}
