/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 30px; */
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  background-color: #ffffff; /* Change to your desired color */
  padding: 10px 10px;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logo-image{
  max-height: 120px;
  max-width: 150px;
}
.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar-links a {
  color: #057ef5;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 1rem;
}



.navbar-menu-icon {
  display: none; /* Hidden on desktop */
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #057ef5;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar{
    padding: 10px 2rem;
  }
  .navbar-menu-icon {
    display: block; /* Show hamburger on mobile */
  }

  .navbar-links {
    position: absolute;
    top: 35px; /* Adjust based on navbar height */
    left: 0;
    right: 0;
    background-color: #333; /* Match navbar background */
    flex-direction: column;
    align-items: center;
    display: none; /* Hidden by default */
    z-index: 1000;
  }

  .navbar-links.active {
    display: flex; /* Show menu when active */
  }

  .navbar-links a {
    margin: 15px 0;
    font-size: 18px;
  }
  .logo-image{
    display: none;
  }
}
