.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7px;
  width: 100%;
  background: rgba(20, 53, 134, 0.05);
  z-index: 999;
}

.progressIndicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to top, hsl(208, 100%, 50%), #2563eb);
  z-index: 999;
}

#progressBar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #2563eb);
  filter: blur(10px);
}

#progressBar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #2563eb);
  filter: blur(30px);
}
